.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;

    div:first-child {
        border-radius: 5px 0 0 0;
    }

    div:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.5);
    }

    .title {
        flex: 3;
        padding: 10px 0;
        display: flex;
        align-items: center;
        margin-left: 10px;

        span {
            margin-left: 5px;
        }
    }
    
    .desc {
        flex: 4;
        padding: 10px 0;
        display: flex;
        align-items: center;
        margin-left: 10px;

        span {
            margin-left: 5px;
        }
    }

    .showed, .edited, .deleted {
        flex: 1;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
